body {
	background: #f3f3f3;
}

.title {
	border-bottom: 1px solid #000
}

.Monitor__table tr th:first-child {
	width: 70px;
	text-align: center;
}

.Monitor__table tr td:last-child {
	text-align: right;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 23px;
	vertical-align: -webkit-baseline-middle;
	margin: 0 !important;
}

.switch input {
	display:none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 10px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}